body {
    background-image: url('../images/superbowl.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
  }

button {
    background: none;
    background-image: url('../images/footballicon.png');
    background-size: cover;
    background-position: center;
    border: #05091f;
    display: inline-block;
    border: none;
    padding: 20px;
    width: 70px;
    border-radius: 900px;
    height: 70px;
    transition: all 0.5s;
    cursor: pointer;
    color: rgb(240, 234, 234);
    font-size: 16px;
    position: relative;
    left: 670px;

   }
button:hover{
    width: 75px;
    height: 75px;
   }

.timer-p{
    margin-top: 20px;
    color: rgb(250, 246, 7);
    font-size: 40px;
    border-color: red;
     /*setting alpha = 0.3*/ 
     /* background: rgba(238, 222, 6, 0.37);  */
}

.answer{
    padding-top: 10px;
    height: 50px;
    color: whitesmoke;
    background-color: rgba(248, 7, 7, 0.37);
    padding-left: 15px;
    border-radius: 4px;
}

.text-center{
    font-size: 40px ;
    color: rgb(230, 21, 21);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px #000;
    
}

header {
		width: 668px;
		text-align: center;
		color: rgb(230, 19, 19);
		width: 640px;
		padding: 30px;
		text-transform: uppercase;
		font-size: 80px;
        letter-spacing: 30px;
        margin-left: auto;
        margin-right: auto;
		
}

